{% extends "PortfolioBundle::base.html.twig" %}

{% block pageTitle %}Robert Saternus - {% trans %}projekty{% endtrans %}{% endblock %}

{% block pageDesc %}{% trans %}Projekty stron i aplikacji webowych stworzonych przez Roberta Saternus. Potrzebujesz stworzyć wyjątkową stronę, serwis lub sklep internetowy. Zajrzyj tutaj!{% endtrans %}{% endblock %}



{% block pageBody %}<body class="projekty">

<div class="cover"></div>

<header id="projects_menu">

    {% include "PortfolioBundle::sticky-header.html.twig" %}

    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                {% image 'bundles/portfolio/img/slide2.jpg' %}
                    <img class="img-background" src="{{ asset_url }}" alt="object_bq" />
                {% endimage %}

                <h1>{{ title|raw }}</h1>

            </div>
        </div>
    </div>

</header>


<section id="projekty">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {% if category_search  is defined  %}
                    <div class="dropdown">
                        {% if all_projects is defined  %}
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ all_projects }}
                        {% elseif current_category is defined  %}
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ current_category.translate().name }}
                        {% endif %}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('portfolio_projects') }}">{% trans %}WSZYSTKIE{% endtrans %}</a></li>
                            {% for category in all_category %}
                                <li><a href="{{ path('portfolio_projects_categories', {'slug': category.slug}) }}">{{ category.translate().name|upper }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}
            </div>

            {% for project in projects %}

                <div class="row">
                    <div class="col-md-6 computer  {{ cycle(["col-md-push-6", ""], loop.index) }}">
                        <img class="img-responsive" src="{{ asset('uploads/' ~ project.thumbnail)}}" alt="{{ project.translate().title }}"/>
                    </div>

                    <div class="col-md-6 project_desc {{ cycle(["col-md-pull-6", ""], loop.index)}}">
                        <h3>{{ project.translate().title }}</h3>

                        <p>{{ project.translate().content }}</p>
                        <ul>
                            {% for tag in project.tags %}
                                <li><a href="{{ path('portfolio_projects_tags', {'slug': tag.slug}) }}">{{ tag.translate().name }}</a></li>
                            {% endfor %}
                        </ul>
                        <a class="button" href="{{ project.link }}" target="_blank"> {% trans %}Zobacz projekt{% endtrans %} </a>
                        {% if (project.readMore is not null) and (app.request.getLocale() == 'pl') %}
                            <a class="button" href="{{ project.readMore }}" target="_blank"> Czytaj więcej</a>
                        {% endif %}
                    </div>
                </div>

                {% if loop.last == false %}
                    <div class="separator">
                        <div class="mask"></div>
                    </div>
                {% endif %}


            {% endfor %}

            {% if tag_cloud is defined  %}
                <div class="separator">
                    <div class="mask"></div>
                </div>

                <div class="col-md-12 project_desc ">
                    <div id="tagCloud">
                        <h3>{% trans %}Chmura tagów{% endtrans %}</h3>
                        <ul>
                            {% for tag in tag_cloud %}
                                <li><a href="{{ path('portfolio_projects_tags', {'slug': tag.slug}) }}">{{ tag.translate().name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {{ knp_pagination_render(projects, 'PortfolioBundle:Pagination:pagination.html.twig') }}


        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}

    {% javascripts
        'bundles/portfolio/js/jquery-2.1.3.min.js'
        'bundles/portfolio/js/jquery-ui.min.js'
        'bundles/portfolio/js/bootstrap.min.js'
        'bundles/portfolio/js/pace.min.js'
        'bundles/portfolio/js/main_script.js'
        output ='assets/js/compiled-projects.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

