<!--STICKY BAR-->
<div id="header-top">
    <div class="burger"><i class="fa fa-bars" aria-hidden="true"></i>MENU</div>
    <div class="traggle-menu">
        <i class="fa fa-times-circle close" aria-hidden="true"></i>

        <div class="logo">
            {% image 'bundles/portfolio/img/logo.png' %}
                <img class="logo" src="{{ asset_url }}" alt="Robert Saternus">
            {% endimage %}

            <h2>ROBERT <br /> SATERNUS</h2>
        </div>

        <nav>
            <ul>
                <li class={{ current_page == "home" ? "active" : "" }}><a href="{{ path('portfolio_main') }}#home"><i class="fa fa-home" aria-hidden="true"></i>HOME</a></li>
                <li class={{ current_page == "cv" ? "active" : "" }} ><a href="{{ path('portfolio_cv') }}"><i class="fa fa-user" aria-hidden="true"></i>{% trans %}KIM JESTEM?{% endtrans %}</a></li>
                <li class={{ current_page == "projects" ? "active" : "" }}><a href="{{ path('portfolio_projects') }}"><i class="fa fa-rocket" aria-hidden="true"></i>{% trans %}PROJEKTY{% endtrans %}</a></li>

                {% if app.request.getLocale() == 'pl' %}
                <li class={{ current_page == "blog" ? "active" : "" }}><a href="{{ path('portfolio_free_form') }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>BLOG</a></li>
                {% endif %}

                <li><a href="{{ path('portfolio_main') }}#kontakt"><i class="fa fa-envelope" aria-hidden="true"></i>{% trans %}KONTAKT{% endtrans %}</a></li>
                <li class={{ current_page == "freeForm" ? "active" : "" }}><a href="{{ path('portfolio_free_form') }}"><i class="fa fa-cube" aria-hidden="true"></i>{% trans %}BEZPŁ. WYCENA{% endtrans %}</a></li>

            </ul>
        </nav>

        <ul class="social-media">
            <li><a href="https://github.com/Rayn93" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/robert-saternus-91b931107/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/robert.saternus.5" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        </ul>

        <ul class="languages">


            {% if language_switcher_with_slug is defined %}
                <li><a class={{ app.request.getLocale() == 'pl' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'pl', 'slug': app.request.attributes.get('_route_params')['slug'] })) }}">PL</a></li>
                <li><a class={{ app.request.getLocale() == 'en' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en', 'slug': app.request.attributes.get('_route_params')['slug'] })) }}">ENG</a></li>
            {% else %}
                <li><a class={{ app.request.getLocale() == 'pl' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'pl'})) }}">PL</a></li>
                <li><a class={{ app.request.getLocale() == 'en' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}">ENG</a></li>
            {% endif %}


        </ul>

    </div>


    <div class="icons-header">
        <ul>

            {% if language_switcher_with_slug is defined %}
                <li class="bar-lang">
                    <a class={{ app.request.getLocale() == 'pl' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'pl', 'slug': app.request.attributes.get('_route_params')['slug'] })) }}">PL</a> |
                    <a class={{ app.request.getLocale() == 'en' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en', 'slug': app.request.attributes.get('_route_params')['slug'] })) }}">ENG</a>
                </li>
            {% else %}
                <li class="bar-lang">
                    <a class={{ app.request.getLocale() == 'pl' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'pl'})) }}">PL</a> |
                    <a class={{ app.request.getLocale() == 'en' ? "active" : "nothing" }} href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}">ENG</a>
                </li>
            {% endif %}

            <li class="hidden-xs"><a href="{{ path('dashboard') }}" ><i class="fa fa-user" aria-hidden="true"></i></a></li>
            <li CLASS="hidden-xs"><a href="{{ path('portfolio_main') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        </ul>

    </div>
</div>
<!--end sticky bar-->
