{% extends 'AdminBundle::base.html.twig' %}

{% block pageTitle %}Lista technologii {% endblock %}

{% block adminContent %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">Technologie</div>
                    <div class="panel-body">

                        <ul class="nav nav-pills">
                            <li><a class="btn btn-primary" href="{{ path('addTechnology') }}">Dodaj nową</a></li>
                        </ul>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tytuł</th>
                                    <th>Publikacja</th>
                                    <th class="actions">Akcje</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for technology in allTechnology %}
                                    <tr>
                                        <td>{{ technology.id }}</td>
                                        <td><a href="{{ path('addTechnology', {'id': technology.id}) }}">{{ technology.translate().title }}</a></td>
                                        <td>{{ technology.publishedDate|date('d-M-Y') }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('addTechnology', {'id': technology.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="{{ path('deleteTechnology', {'id': technology.id}) }}" onclick="return confirm('Na pewno chcesz usunąć tą technologię?')" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        {{ knp_pagination_render(allTechnology, 'PortfolioBundle:Pagination:pagination.html.twig') }}

                    </div>  <!-- .panel-body -->
                </div>  <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->

{% endblock %}