{% extends "PortfolioBundle::base.html.twig" %}

{% block pageTitle %}Blog | robertsaternus.pl{% endblock %}

{% block pageDesc %}"Blog web developera freelancera. Znajdziesz tutaj informacje na temat programowania i rozwoju osobstego"{% endblock %}


{% block pageBody %}

<body id="blogList">

<div class="cover"></div>

<header id="projects_menu">

    {% include "PortfolioBundle::sticky-header.html.twig" %}

    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                {% image 'bundles/portfolio/img/slide3.jpg' %}
                    <img class="img-background" src="{{ asset_url }}" alt="object_bq" />
                {% endimage %}

                <h1>BLOG</h1>

            </div>
        </div>
    </div>

</header>

<main>

    <section id="postList">
        <div class="container">
            <div class="row">

                {% for post in posts %}

                <article class="col-md-12 nopadding {{  cycle(["imgRight", "imgLeft"], loop.index) }}">
                    <div class="col-md-7 {{  cycle(["col-md-push-5", ""], loop.index) }} nopadding">
                        <img class="img-responsive" src="{{ asset('uploads/blog/' ~ post.thumbnail)}}" alt="{{ post.title }}"/>
                    </div>
                    <div class="col-md-5 {{  cycle(["col-md-pull-7", ""], loop.index) }}">
                        <div class="infoBox">
                            <span>{{ post.publishedDate|date('d-m-Y') }}</span> |
                            <span>{{ post.author.userName }}</span>
                        </div>
                        <h3>{{ post.title }}</h3>
                        <p class="dot">{{ post.excerpt|cutText(250, '') }}</p>

                        <a class="button mt20" href="{{ path('blog_post', {'slug': post.slug}) }}"><span>CZYTAJ WIĘCEJ</span></a>
                    </div>
                </article>

                {% endfor %}

                {{ knp_pagination_render(posts, 'PortfolioBundle:Pagination:pagination.html.twig') }}


            </div>
        </div>
    </section>


</main>

{% endblock %}

{% block scripts %}

    {% javascripts
        'bundles/portfolio/js/jquery-2.1.3.min.js'
        'bundles/portfolio/js/jquery-ui.min.js'
        'bundles/portfolio/js/bootstrap.min.js'
        'bundles/portfolio/js/pace.min.js'
        'bundles/portfolio/js/main_script.js'
        output ='assets/js/compiled-projects.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}